name: qinhuai
description: A sample command-line application.
version: 1.0.0
homepage: https://www.example.com

environment:
  sdk: '>=2.18.6 <3.0.0'

dependencies:
  build_runner: ^2.3.3
  isar: ^3.0.5
  meta: ^1.8.0

dev_dependencies:
  isar_generator: ^3.0.5
  lints: ^2.0.0
  test: ^1.16.0
